*{
    color: #fff;
}
body
{
    padding-top: 20px;
    background: #1f1f1f;
    
}
#airplane-cont
{
    padding-top: 10px;
    height: 40px;
    vertical-align: middle;
}
.airplane-img
{
    margin-bottom: -5px;
    height: 20px;
}

/* Question Container */
#question-cont
{
    justify-content: center;
    text-align: center;
  
    border: 2px solid #27ffa5;
    border-radius: 15px;

}

.option-cont
{
    border: 1px solid #ffe606;
    border-radius: 10px 0px 10px 0px;
    margin: 10px;
    padding: 5px 20px;
    min-width: 100px;
 
    text-align: center;
    justify-items: center;
    display: inline-block;
}
#progress-bar-cont{
    margin:30px 0px 20px 0px;
    height: 15px;
    background: #fff;
    
    border-radius: 10px;
}
#progress-bar
{
    width: 50%;
    background:  linear-gradient(135deg,#09ff00,#eeff00,#f00);
    border-radius: 10px;
   
}

#level
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}